@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


:root {
    --color01: #DBA800;
    --color02: #27369C;
    --color03: #011edbb1;
    --color04: #645523;
    --color05: #2E345C;
    --color06: #332F22;
    --font: "Josefin Sans", sans-serif;
}

* {
    margin: 0px;
}


body {
    background-color: var(--color03) ;
}

header {
    min-height: 100px;
    background-image: linear-gradient(to bottom,#DBA800, #645523 );
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.555);
}

header h1 {
    font-size: 2.5em;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding-top: 25px ;
}

nav {
    padding: 10px 0px;
}

nav #home {
    background-color: var(--color04);
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav > a:hover {
    background-color: var(--color04);
}

main {
    background-color: var(--color05);
    height: 1200px;
    width: 100%;
    margin: auto;
    max-width: 900px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.633);
    padding: 10px;
}

main h1.inicio {
    font-family: var(--font);
    font-size: 3em;
    text-align: center;
    padding-top:15px ;
    color: white;
    margin-bottom: 10px;
    background-image: linear-gradient(to right , transparent,#332F22, transparent );
}

div {
    border-radius: 30px;
    margin: auto;
    max-height: 700px;
    min-height: 400px;
    width: 80%;
    height: 35%;
    max-width: 500px;
    background-color: white;
    border: solid 5px var(--color01);
}

div h1 {
    padding-top:10px ;
    text-align: center;
}

div a {
    font-size: 25px;
    border-radius: 30px;
    padding: 10px;
    width: 50%;
    background-color: green;
    display: block;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: white;
    height: 30px;
}

div img {
    width: 70%;
    max-width: 390px;
    min-width: 350px;
    display: block;
    margin: auto;
    border: solid 2px black;
    margin-bottom: 10px;
}
